* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #575757;
}

.common-btn {
    background-color: blue;
    border-radius: 7px;
    border-color: blue;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 786px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.6)), url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    color: white;
    font-size: 80px;
    margin-top: 136px;

}

.banner p {
    color: white;
    width: 829px;
    font-size: 20px;
    margin-top: 16px;
}

.banner button {
    margin-top: 400px;
    margin-bottom: 80px;
}

.speakers {
    margin: 100px;
}

.speakers h1 {
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 100px;
}

.speaker-prnt {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 30px 30px;
}

.speaker-item {
    border: 1px solid #c2bdbd;
    border-radius: 10px;
}

.p1 {

    color: blue;
    font-size: 12px;
    text-align: start;
    padding: 20px 0 5px 20px;
}

.speaker-item h4 {
    font-size: 18px;
    text-align: start;
    padding-left: 20px;
}

.p2 {
    font-size: 12px;
    font-weight: normal;
    padding: 5px 0 20px 20px;
}

.secure {
    margin: 100px;
}

.cards {
    display: flex;
}

.secure h1 {
    text-align: center;
    font-size: 48px;
}

.secure p {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.card-item {
    border: 1px solid #575757;
    border-radius: 10px;

}
.card-item-2{
    background-color:#0d1b2aFF;
    color: white;
}

.card-item ul li::marker{
    color: blue;
}

.pro{
    color: lightskyblue;
}
.top {
    justify-items: start;
    padding: 5px 25px 5px 35px;
}

.bottom {
    justify-items: start;
    padding: 10px 25px 30px 35px;
}

.b1{
    border: 1px solid blue;
    padding: 7.5px 80px;
    background-color: white;
    color: blue;
    border-radius: 10px;
    text-align: justify;
    font-weight: 500;
    
}

.b2{
    padding: 7.5px 80px;
     border-radius: 10px;
    text-align: justify;
    font-weight: 500;
    
}
.b3 {
    border: 1px solid black;
    padding: 7.5px 80px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: justify;
    font-weight: 500;
    
}